<div id="<%= dom_id(comment) %>" class="flex flex-col p-4 shadow gap-4 target:border">
  <% if comment == @editable_comment %>
    <%= render "comments/form", comment: comment %>
  <% else %>
    <% if comment.author == Current.user %>
      <div class="flex justify-end gap-4">
        <%= link_to "Edit", post_path(comment.post, editable_comment_id: comment.id), class: "link" %>
        <%= button_to "Delete", comment, method: :delete, class: "link" %>
      </div>
    <% end %>

    <div class="flex gap-2">
      <span>
        <%= link_to comment.author.username, comment.author, class: "font-bold link" %>
      </span>
      <span>
        <%= comment.created_at %>
      </span>
      <span>
        <%= comment.updated_at %>
      </span>
    </div>

    <p>
      <%= comment.content %>
    </p>

    <%= render "shared/like_button", likeable: comment %>
  <% end %>
</div>
