<%= form_with model: @user do |user_form| %>
  <div class="flex flex-col items-end w-fit gap-4">
    <div>
      <%= user_form.label :username %>
      <%= user_form.text_field :username %>
    </div>

    <div>
      <%= user_form.label :password %>
      <%= user_form.password_field :password %>
    </div>

    <div>
      <%= user_form.label :password_confirmation, "Confirmation" %>
      <%= user_form.password_field :password_confirmation %>
    </div>

    <% unless @user.persisted?  %>
      <%= user_form.submit "Sign up" %>

      <p>
        Already have an account ? <%= link_to "Sign in", sign_in_path %>
      </p>
    <% else %>
      <%= user_form.submit %>
    <% end %>
  </div>
<% end %>

