<%= form_with model: @post do |post_form| %>
  <div class="flex flex-col gap-4 w-fit">
    <div class="flex flex-col">
      <%= post_form.label :media, "Upload a picture" %>
      <%= post_form.file_field :media %>
    </div>

    <p>Or...</p>

    <div class="flex flex-col">
      <%= post_form.label :youtube_url, "Share a YouTube URL" %>
      <%= post_form.url_field :youtube_url, placeholder: "https://www.youtube.com/watch?v=BnK9oeBI9G4" %>
    </div>

    <div class="flex flex-col">
      <%= post_form.label :title %>
      <%= post_form.text_field :title %>
    </div>

    <div class="flex flex-col">
      <%= post_form.label :content %>
      <%= post_form.text_area :content %>
    </div>

    <div class="flex self-end">
      <%= post_form.submit "Post" %>
    </div>
  </div>
<% end %>
