<div id="<%= dom_id(post) %>" class="flex flex-col p-4 rounded shadow gap-4 target:border">
  <div>
    <% if post.author == Current.user %>
      <div class="flex justify-end gap-4">
        <%= link_to "Edit", edit_post_path(post) %>
        <%= button_to "Delete", post, method: :delete %>
      </div>
    <% end %>

    <span>
      <%= link_to post.author.username, post.author %>
    </span>

    <span>
      <%= post.created_at %>
    </span>
  </div>

  <% if post.youtube_url %>
    <iframe src="<%= post.youtube_url %>" height="315" frameborder="0"></iframe>
  <% else %>
    <% if post.media.representable? %>
      <%= image_tag post.media.representation(resize_to_limit: [3000, 3000]) %>
    <% end %>
  <% end %>

  <h2>
    <%= link_to post.title, post %>
  </h2>

  <p>
    <%= post.content %>
  </p>

  <div class="flex items-center justify-between">
    <%= render "shared/like_button", likeable: post %>
    <%= link_to "#{post.comments.size} comments", post_path(post, anchor: "comments") %>
  </div>
</div>
